.navbar {
  background-color: #0C4375;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
height: 110px;
  
}

.logo img {
position: absolute;
width: 378px;
height: 129px;
left: 22px;
top: -12px;
}



.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center; /* Alinea verticalmente los elementos en el centro */
}

.nav-links li a {
  color: white;
  text-decoration: none;
  position: relative;
}

.sub-menu {
  display: none;
  position: absolute;
  background-color: #333;
  list-style: none;
  padding: 0;
}

.sub-menu li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.nav-links li:hover .sub-menu {
  display: block;
}
.login-button {
  border: 2px solid #FF7A1A;
  background-color: #FF7A1A;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
}

.carousel-button{
  width: '50px';
  color: '#FF7A1A';
}

.card {
  position: relative;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px;
  overflow: hidden;
}

.card-title {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  margin: 0;
  border-radius: 3px;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-description {
  padding: 10px;
  margin: 0;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: space-around; /* Opcional: distribuye el espacio alrededor de las tarjetas */
  flex-wrap: wrap; /* Opcional: permite que las tarjetas se envuelvan a la siguiente línea si no caben todas */
  margin: 20px; /* Espaciado entre las tarjetas */
}


.footer {
  background-color: #0C4375;
  color: white;
  padding: 20px;
  padding-top: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinea verticalmente los elementos del footer */
}

.footer-section {
  text-align: center;
  flex: 1; /* Ocupa el espacio disponible horizontalmente */
  padding: 10px; /* Ajusta el espaciado interno de cada sección */
}

.social-media {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.social-media a,
.footer-section a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.footer-section h3 {
  margin: 0;
  font-size: 16px;
  
}

.iconoF{

width: 29.98px;
height: 20.32px;
margin-right: 5px;

}



.footer-logo {
  width: 150px;
  height: 230px; 
  margin-right: 20px; /* Margen derecho para separarla del contenido */
}


/* Para la seccion de terminos y condiciones*/

.footer-section-tc {
  text-align: center;
  flex: 1; /* Ocupa el espacio disponible horizontalmente */
  padding: 5px; /* Ajusta el espaciado interno de cada sección */
  padding-top: 75px;
  
}

.footer-section-tc a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}


.small-list {
  font-size: 14px; 
  margin: 0;
  padding: 0; 
  list-style: none; 
}

.small-list li {
  margin-bottom: 10px; 
}





.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  width: 300px; /* Ancho deseado para tu formulario */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

form div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}



